[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# Visual Studio / VSCode
.vscode/
*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.tmp
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db